<div class="container">
    <div class="row">
        <div class="col-6 mx-auto">
            <div id="cardUsuarioPassword" class="card card-profile">
                <app-menu class="ml-auto"></app-menu>
                <div class="card-avatar">
                    <a href="javascript:void(0)">
                        <img class="img" src="./assets/img/angular.png" />
                    </a>
                </div>
                <div class="card-body">
                    <form [formGroup]="registerForm">                     
                        <div class="form-row">
                            <div class="col-12 mb-2">
                                <input type="email" class="form-control" formControlName="senhaAtual" placeholder="Senha Atual"
                                    [ngClass]="{ 'is-invalid': submitted && f.senhaAtual.errors }">
                                <div *ngIf="submitted && f.senhaAtual.errors" class="invalid-feedback">
                                    <div *ngIf="f.senhaAtual.errors.required">Digite sua senha atual</div>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <input type="email" class="form-control" formControlName="senhaNova" placeholder="Nova Senha"
                                    [ngClass]="{ 'is-invalid': submitted && f.senhaNova.errors }">
                                <div *ngIf="submitted && f.senhaNova.errors" class="invalid-feedback">
                                    <div *ngIf="f.senhaNova.errors.required">Digite sua nova senha</div>
                                </div>
                            </div>
                            <div class="col-12 mb-2">
                                <input type="email" class="form-control" formControlName="senhaConfirmar" placeholder="Senha Nova"
                                    [ngClass]="{ 'is-invalid': submitted && f.senhaConfirmar.errors }">
                                <div *ngIf="submitted && f.senhaConfirmar.errors" class="invalid-feedback">
                                    <div *ngIf="f.senhaConfirmar.errors.required">Digite sua confirmação de  senha</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-3 text-center">
                            <button  routerLink="/home" class="btn btn-secundary" type="button">
                                Voltar
                            </button>
                            <button (click)="updateBtnClick()" class="btn btn-info" type="button"
                                style="background-color: #00bcd4;">
                                <img src="../../assets/img/loading3.gif" *ngIf="loading" />
                                Update
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>