<div class="container">
    <div class="row">
        <div class="col-6 mx-auto align-self-center">
            <div id="cardSignup" class="card card-block">
                <div class="card-header card-header-icon card-header-info">
                    <div class="card-icon">
                        <i class="material-icons">https</i>
                        <!-- <i class="material-icons" *ngIf="!loading">https</i>
                        <i class="material-icons" *ngIf="loading">lock_open</i> -->
                    </div>
                    <h4 class="card-title">Authenticacation</h4>
                </div>
                <div class="card-body mx-auto">
                    <div class="row">

                    </div>
                    <div class="row">
                        <form [formGroup]="registerForm">
                            <div class="form-row">
                                <div class="col-12 mb-2">
                                    <input type="text" class="form-control" formControlName="nome" placeholder="Nome"
                                        [ngClass]="{ 'is-invalid': submitted && f.nome.errors }">
                                    <div *ngIf="submitted && f.nome.errors" class="invalid-feedback">
                                        <div *ngIf="f.nome.errors.required">Digite seu nome</div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <input type="email" class="form-control" formControlName="email" placeholder="Email"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Digite seu email</div>
                                        <div *ngIf="f.email.errors.email">Email inválido</div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <input type="text" class="form-control" formControlName="telefone" placeholder="Telefone">
                                </div>
                                <div class="col-12 mb-2">
                                    <input type="password" class="form-control" formControlName="password"
                                        placeholder="Senha"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Digite sua senha</div>
                                    </div>
                                </div>
                                <div class="col-12 mb-2">
                                    <input type="password" class="form-control" formControlName="confirmarPassword"
                                        placeholder="Confirmar Senha"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirmarPassword.errors }">
                                    <div *ngIf="submitted && f.confirmarPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmarPassword.errors.required">Digite sua confirmação de senha</div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3 text-center">
                                    <button  routerLink="/autenticacao" class="btn btn-secundary" type="button">
                                        Voltar
                                    </button>
                                    <button (click)="signupBtnClick()" class="btn btn-info" type="button"
                                        style="background-color: #00bcd4;">
                                        <img src="../../assets/img/loading3.gif" *ngIf="loading" />
                                        Cadastrar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>